<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <%#app.js에서 strict로 public을 경로 지정했기때문에 /로 시작하면 public부터  시작임ㅇㅇ%>
    <title>Document</title>
</head>

<body>
    <input type="text" placeholder='id' id="id"><br>
    <input type="text" placeholder='password' id="pwd"><br>
    <button>Login</button>
</body>

</html>